@import url("https://cdn.jsdepvr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Disans Light";
}



/* Nav bar */


.nav-bar{
    width: 100%;
    height: 76px;
    position: sticky;
    background-color: white;
    box-sizing: border-box;
    top: 0;
    z-index: 100;
    padding: 0 120px;
    display: flex;
    gap: 100px;
}

.nav-bar-container{
    width: 100%;
    gap: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

.pp-logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    
}



.nav-text{
    width: 100%;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    p{
        margin: 0;
        padding-top: 10px;
        font-weight: 600;
        /* margin-left: 20px; */
    }
}

.slide-bar{
    visibility: hidden;
}


@media(max-width:600px){
    .nav-bar{
        width: 100%;
        height: 60px;
        padding: 0;
        position: sticky;
        background-color: white;
        box-sizing: border-box;
        top: 0;
        z-index: 100;
        display: flex;
        align-items: center;
    }
    .nav-bar-container{
        display: flex;
        justify-content: flex-start;
        /* gap: 350px; */
        align-items: center;
        position: relative;
        
    }
    .pp-logo{
        width: 126px;
        height: 46px;
        position: absolute;
        left: 10px;
    }
    .nav-text{
        display: none;
    }
    .slide-bar{
        height: 15px;
        visibility: visible;
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
    }
}









/* section - 1 */

.section-1-container{
    width: 100%;
    height: auto;

    

    
}


.section-1-container-outer{
    width: 100%;
    height: auto;

    .image-1{
        width: 100%;
        height: auto;
    }
    .image-2{
        display: none;
    }

    .section-1-container-outer-text{
        width: 80%;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        
    }
}

@media(min-width:600px){
    .section-1-container-outer-text{
        width: 100%;
        top: 180px;
        left: 270px;

        p{
            font-size: 40px;
            font-weight: 900;
            color: white;
            line-height: 1;
            letter-spacing: -1.6px;
            word-spacing: 1.2px;      
        }
        button{
            width: 293px;
            height: 50px;
            border-radius: 30px;
            background-color: white;
            font-weight: 600;
        }
    }
}


@media(max-width:600px){
    .section-1-container{
        height: auto;

    }

    .section-1-container-outer{
        width: 100%;
        height: auto;
        position: relative;

        .image-1{
            display: none;
        }
        
        .image-2{
            width: 100%;
            height: auto;
            display: flex;
        }
    
    }

    .section-1-container-outer-text{
        width: 60%;
        top: 50px;
        left: 30px;

        p{
            font-size: 25px;
            font-weight: 900;
            color: white;
            line-height: 1;
            letter-spacing: -1.6px;
            word-spacing: 1.2px;      
        }
        button{
            width: 209px;
            height: 40px;
            border-radius: 30px;
            background-color: white;
            font-weight: 600;
            font-size: 13px;
        }
    }

}






.round-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

    .round{
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background-color: rgba(128, 128, 128, 0.67);
    }
}





/* SECTION - 2 */

.section-2-container{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
}


.card{
    width: 350px;
    height: 270px;
    margin:  80px 0;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: start;
    justify-content: end;
    position: relative;
    
    
    
    h1{
        font-size: 30px;
        margin-left: 10px;
        color: #361374;
        font-weight: 900;
        margin-left: 30px;
        margin-bottom: 20px;

    }

    .arrow{
        font-size: 39px;
        color: #6739b7;
        position: absolute;
        right: 30px;
    }
}


@media(max-width:600px){
    .card{
        margin: 20px 0;
        width: 290px;
        

    }
}





/* SECTION - 3 */

.section-3-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .section-3-container-row{
    margin-left: 50px;
    
} */

.section-3-container-div-1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-container-div-1-inner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 160px;

    h2{
        font-size: 37px;
        margin-bottom: 45px;
        color: #361374;
        font-weight: 800 ;
    }
    h3{
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    p{
        color: rgba(128, 128, 128, 0.803);
        font-size: 14px;
        border-bottom: 1px solid gray;
        padding-bottom: 30px;

    }
}





.section-3-container-div-2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.section-3-container-div-2-inner{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    
}

@media(min-width:600px){
    .section-3-container-row{
        padding-left: 55px;
    }
    #simple-2{
        display: none;
    }

    #simple-1{
        visibility: visible;
    }
}


@media(max-width:600px){
    #simple-2{
        position: absolute;
        top: -28px;
        font-size: 29px;
        color: #361374;
        font-weight: 800 ;
    }

    #simple-1{
        display: none;
    }

    .section-3-container-row{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        
    }

    .section-3-container-div-1{
        height: 456px;
        margin-top: 100px;

    }

    .section-3-container-div-1-inner{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

    
        h2{
            font-size: 30px;
            margin-bottom: 45px;
        }
        h3{
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 40px;
        }
    }

    .section-3-container-div-2{
        width: 100%;
        height: auto;
        margin-top: 30px;
        position: relative;

    }

    .section-3-container-div-2-inner{
        width:100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: brown;

        video{
            width: 100%;
            height: 100%;
        }
    }
}





/* SECTION - 4 */

.section-4-container{
    width: 100%;
    height: auto;
    /* background-color: rgb(95, 226, 43); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4-container-div-1-inner{
    width: 100%;
    height:auto;
    margin: 0 100px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    flex-direction: column;
}


.section-4-container-div-1-inner-div-1{
    width: 552px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 552px;
        height: auto;
        padding-top: 10px;
    }

}

.pp-logos{
    width: 200px;
    height: 100%;
    img{
        width: 180px;
    }
    
}


.section-4-container-div-1-inner-div-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    img{
        width: 100%;
        height: auto;
        
    }
}



.carosal-div{
    width: 95%;
    height: 500px;
    display: flex;
    position: relative;
    align-items: center;
    

    .carosal-1{ 
        width: 30%;
        left: 0;
        position: absolute;
        z-index: 1;
        /* img{
            width: 93%;
            height: auto;
        } */
    }

    
    .carosal-2{
        width: 33%;
        left: 15%;
        position: absolute;
        z-index: 2;
        /* img{
            width: 96%;
            height: auto;
        } */
    }
    .carosal-3{
        width: 35%;
        right: 30%;
        position: absolute;
        z-index: 3;
        /* img{
            width: 100%;
            height: auto;
        } */
    }
    .carosal-4{
        width: 33%;
        right: 15%;
        position: absolute;
        z-index: 2;
        /* img{
            width: 96%;
            height: auto;
        } */
    }
    .carosal-5{
        width: 30%;
        right: 0;
        position: absolute;
        z-index: 1;
        /* img{
            width: 450px;
            height: 440px;
        } */
    }

    .video-player-logo{
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 18%;
        right: 39%;
    }
}



.section-4-container-div-1-inner-div-3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    button{
        
        width: 21%;
        height: 38px;
        border-radius: 20px;
        color: #361374;
        border: none;
        border: 1px solid #361374;
        background-color: white;
        font-size: 16px;
        font-weight: 600;
        
        

    }


    button:hover{
        background-color: #361374;
        color: white;
    }

    
    p{
        color: black;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 600;
        line-height: 2;
        opacity: .8;
        text-align: center;
        /* width: 960px; */
    }
}




@media(max-width:600px){
    .section-4-container{
        height: auto;
    }

    .section-4-container-div-1-inner{
        margin: 0 10px;
    }


    .pp-logos{
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 180px;
        }
        
    }



    .section-4-container-div-1-inner-div-1{
        width: auto;
        height: auto;
        img{
            width: 60%;
            height: auto;
        }
    
    }
    
    
    .section-4-container-div-1-inner-div-2{
        width: 100%;
        height: auto;
    
        .carosal-div{
            width: 95%;
            height: 300px;
            display: flex;
            position: relative;
            align-items: center;

            img{
                border-radius: 40px;
            }
            
        
            .carosal-1{ 
                width: 56%;
                left: 0;
                position: absolute;
                z-index: 1;
                /* img{
                    width: 93%;
                    height: auto;
                } */
            }
            .carosal-2{
                width: 63%;
                left: 8%;
                position: absolute;
                z-index: 2;
                /* img{
                    width: 96%;
                    height: auto;
                } */
            }
            .carosal-3{
                width: 70%;
                right: 15%;
                position: absolute;
                z-index: 3;
                /* img{
                    width: 100%;
                    height: auto;
                } */
            }
            .carosal-4{
                width: 63%;
                right: 8%;
                position: absolute;
                z-index: 2;
                /* img{
                    width: 96%;
                    height: auto;
                } */
            }
            .carosal-5{
                width: 56%;
                right: 0;
                position: absolute;
                z-index: 1;
                /* img{
                    width: 450px;
                    height: 440px;
                } */
            }
        
            .video-player-logo{
                width: 20%;
                height: auto;
                position: absolute;
                bottom: 40%;
                right: 39%;
            }
        }
        
        
    }



    


    .section-4-container-div-1-inner-div-3{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* margin-top: 100px; */
    
        button{
            width: 65%;
            height: 37px;
            border-radius: 20px;
            
    
        }
        p{
            width: 100%;
            margin-top: 30px;
            font-size: 16px;
            line-height: 2;
            opacity: .8;
            padding: 0 15px;
        }
    }
    
    
}














/* SECTION - 5 */

.section-5-container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-5-container-div-1-inner{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

    .section-5-banner-desk{
        display: flex;
        align-items: center;
        position: relative;
        /* padding: 0 114px; */
        .image-1{
            height: 335px;
            width: 100%;
            background-color: #967EDD;
            border-radius: 50px;
        }

        .hundered-percentage{
            width: 13%;
            height: auto;
            top: 50%;
            position: absolute;
            left: 19%;
            
        }

        h1{
            font-size: 43px;
            font-weight: 600;
            color: white;
            top: 52%;
            right: 29%;
            position: absolute;
        }

        p{
            color: white;
            font-size: 20px;
            font-weight: 600;
            top: 70%;
            right: 26%;
            position: absolute;
        }

        .pci{
            left: 41%;
            bottom: -16%;
            width: 8%;
            position: absolute;
        }

        .iso{
            left: 52%;
            bottom: -16%;
            width: 8%;
            position: absolute;
        }
    }


    .section-5-banner-mob{
        display: none;
        visibility: hidden;
    }
}




@media(min-width:600px){
    .section-5-banner-desk{
        width: 100%;
        padding: 0 114px;
    }

    .section-5-container{
        height: 300px;

        .section-5-container-div-1-inner{
            .section-5-banner-desk{
                .image-1{
                    margin-top: 250px;
                }
            }
        }
    }


    
}




@media(max-width:600px){

    .section-5-banner-desk{
        display: none;
        .image-1{
            display: none;
        }
        .hundered-percentage{
            display: none;
        }
        h1{
            display: none;
        }
        p{
            display: none;
        }
        .pci{
            display: none;
        }
        .iso{
            display: none;
        }
        
    }

    
    .section-5-container-div-1-inner{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        /* padding: 0 -200px; */
    
        .section-5-banner-mob{
            width: 100%;
            visibility: visible;
            display: flex;
            align-items: center;
            position: relative;
            padding: 5px 20px;
            text-align: center;
            .image-2{
                height: 432px;
                width: 100%;
                background-color: #967EDD;
                border-radius: 42px;
            }
    
            .hundered-percentage{
                width: 20%;
                height: auto;
                position: absolute;
                left: 38%;
                top: 7%;
                
            }
    
            h1{
                font-size: 27px;
                font-weight: 900;
                color: white;
                top: 34%;
                right: 16%;
                position: absolute;
            }
    
            p{
                color: white;
                font-size: 13px;
                font-weight: 600;
                top: 46%;
                right: 15%;
                position: absolute;
                text-align: center;
            }
    
            .pci{
                left: 17%;
                bottom: 20%;
                width: 25%;
                position: absolute;
            }
    
            .iso{
                left: 57%;
                bottom: 20%;
                width: 25%;
                position: absolute;
            }
        }
    

        }
        
    
}


@media(max-width:376px){
    .section-5-container-div-1-inner{
        .section-5-banner-mob{
            h1{
                font-size: 25px;
                font-weight: 900;
                color: white;
                top: 32%;
                right: 11%;
                position: absolute;
                padding: 0 15px;
            }

            p{
                color: white;
                font-size: 13px;
                font-weight: 600;
                top: 47%;
                right: 6%;
                position: absolute;
                padding: 0 15px;
            }

            .pci{
                left: 16%;
                bottom: 20%;
                width: 25%;
                position: absolute;
            }

            .iso{
                left: 58%;
                bottom: 20%;
                width: 25%;
                position: absolute;
            }
        }
    }
    
}








/* SECTION - 6 */

.section-6-container{
    width: 100%;
    height: auto;
    background: linear-gradient(#ddd8fa,#fff);
}

.section-6-container-div-1-inner{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        margin-top: 100px;
        color: #361374;
        font-size: 40px;
        font-weight: 600;
    }

    button{
        margin-top: 35px;
        width: 265px;
        height: 140px;
        background-color: #07C3DE;
        padding: 20px 0;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        color: white;

        img{
            padding-left: 20px;
        }
    }
}


.section-6-container-div-2-inner{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    margin-top: 200px;
    img{
        width: 100%;
        height: 100%;
        padding: 0 75px;
    }

    .image-2{
        display: none;
    }
}


@media(min-width:600px){
    .section-6-container{
        padding: 150px 0 100px 0;
    }
}


@media(max-width:600px){

    .section-6-container-div-1-inner{
        h1{
            margin-top: 15px;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }

        button{
            width: 260px;
            height: 51px;
            display: flex;
            align-items: center;
            justify-content: center;

            
        }
    }



    .section-6-container-div-2-inner{
        width: 100%;
        height: auto;
        /* background-color: blue; */
        /* margin-top: 200px; */
        
    
        .image-1{
            display: none;
        }
        .image-2{
            display: flex;
            width: 100%;
            padding: 0;
        }
    }
}















/* SECTION - 7 */

.section-7-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .section-3-container-row{
    margin-left: 50px;
    
} */

.section-7-container-div-1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-7-container-div-1-inner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 122px;




    .section-7-container-div-1-inner-div-header{
        #For-business{
            font-size: 40px;
            font-weight: 600;
            color: #361374;
        }
    
        p{
            font-size: 16px;
            color: black;
            opacity: 0.7;
            padding-top: 20px;
        }
    }

}

.section-7-container-div-1-inner-div-content{
    position: relative;

    h2{
        font-size: 25px;
        font-weight: 800;
        padding-top: 15px;
    }
    h3{
        color: #6739b7;
        font-size: 18px;
        font-weight: 900;
        padding-top: 15px;
    }
    p{
        color: black;
        opacity: 0.7;
        font-size: 17px;
        border-bottom: 1px solid gray;
        padding-top: 5px;
        padding-bottom: 10px;

    }

    .sm-arrow{
        width: 10px;
        position: absolute;
        right: 0;
    }
}





.section-7-container-div-2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.section-7-container-div-2-inner{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .basket-mobb{
        width: 100%;
        height: 100%;
        padding-left: 30px;
    }

    
}

@media(min-width:600px){

    .section-7-container-row{
        padding-left: 55px;
    }

    
}


@media(max-width:600px){
    /* #simple-1{
        position: absolute;
        top: -28px;
        font-size: 29px;
        color: #361374;
        font-weight: 800 ;
    } */


    .section-7-container-row{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        
    }

    .section-7-container-div-1{
        height: 456px;
        margin-top: 100px;

    }



    

    .section-7-container-div-1-inner{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

    
        h2{
            font-size: 20px;
            margin-bottom: 5px;
            padding-top: 50px;
        }
        h3{
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 5px;
        }


        .section-7-container-div-1-inner-div-header{
            #For-business{
                font-size: 35px;
                font-weight: 600;
                color: #6739b7;
            }
        
            p{
                font-size: 16px;
                color: black;
                opacity: 0.7;
                padding-top: 20px;
            }
        }
    }

    .section-7-container-div-2{
        width: 100%;
        height: auto;
        margin-top: 30px;
        position: relative;

    }

    .section-7-container-div-2-inner{
        width:100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .basket-mobb{
            width: 100%;
            height: 100%;
        }
    }
}

